* {

}

header {
    text-align: center;

}

html, body {
}

.main-nav {
    margin-top: 170px;
    font-size: 3em;
    text-align: center;
    padding-top: 30px;
    
}



.flex {
    margin-bottom: 20px;
}

h2 {
    font-size: .5em;
}
nav {
    text-align: center;
}

nav a {
    padding: 10px;
    margin: 20px;
    font-size: 2em;
}

nav:last-child {
    padding-top: 5px;
}
