* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.icon-small {
    font-size: 2em;
}
.navbar-fixed-bottom ul {
    text-align: center;
    margin-top: 10px;
}
.navbar-fixed-bottom li {
    display: inline-block;
    margin: 10px;
}
.contact {
    margin-top: -20px;
}