* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin-bottom: 15px;
}

.selfie {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: .8;
}
.img-span {
    text-align: center;
}

.about-text {
    margin: 55px;
}

.about {
    margin-top: 40px;
}

.main-container {
    margin-top: -20px;
    background-color: lightgray;
    width: 100%;
}