* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label, button{
    margin: 0 auto;
    cursor: pointer;
}

header {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Niconne', cursive;
    color: #fff;
    font-size: 2em;
    background-color: grey;
    max-width: 800px;
    border-radius: 10px;
    border: 2px solid #d35400;
    
}

h2 {
    color: #fff;
    font-family: 'Niconne', cursive;
}

li {
    padding: 5px 0px 0px 5px;
    color: #fff;
    text-align: center;
    background-color: grey;
    max-width: 800px;
    margin: 0 auto;
    list-style: none;
    border-radius: 10px;
    margin-top: 10px;
    border: 2px solid #d35400;
    font-family: 'lato', sans-serif;
}

.task-list {
    text-align: center;
    border: 2px solid #d35400;
    padding: 30px;
    background-color: grey;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 10px;
}

input {
    line-height: 30px;
    font-size: 16pt;
    text-transform: uppercase;
    border: 2px solid #f1c40f;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    margin-right: 10px;
}


button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #f1c40f;
    color: #fff;
    font-size: 23px;
    text-transform: uppercase;
    display: block;
}

button:hover {
    background-color: #d35400;
}