* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    padding: 20px;
    font-family: sans-serif;
}

p {
    margin: 20px;
}

h1 {
    cursor: pointer;
}



ul {
    list-style: none;
    display: flex;
    margin-top: 20px;
}

li {
    border: 4px solid #000;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 10px;
    text-indent: -10000px;
}

.olive {
    background: olive;
}

.skyblue {
    background: skyblue;
    background: repeating-linear-gradient(-45deg, skyblue, skyblue 10px, cornflowerblue 10px, cornflowerblue 20px);
}


.salmon {
    background: salmon;
}

.burlywood {
    background: burlywood;
}

.thistle {
    background: thistle;
}

.scheme {
    background: transparent;
}