*{
    margin: 0 auto;
    padding: 0;
    
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
    text-align: center;
    padding: 30px 10px 0 10px;
    width: 100px;
    height: 100px;
    margin-top: 30px;
    
}

i {
    display: inline-block;
    font-size: 3em;
}

.skills h3 {
    font-family: 'fjalla one', sans-serif;
    font-size: 90%;
    text-transform: uppercase;
    
}

.skills h1 {
    text-align: center;
    font-family: 'fjalla one', sans-serif;
    padding: 20px;
    text-transform: uppercase;
}
