* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    
}


html {
    font-family: 'lato', sans-serif;
}


header {
    font-family: pacifico;
    font-size: 1.1em;
    text-align: center;
        
}

h3 {
    text-transform: uppercase;
    color: #1abc9c;
    padding: 10px;
    margin-top: 10px;
}

header a:link,
header a:visited {
    text-decoration: none;
    color: #1abc9c;


}

header a:hover,
header a:active {
    color: #f1c40f;

}


footer {
    display: inline;
    text-align: center;
}

p {
    font-size: .8em;
    line-height: 1.5
}

.row img {
    width: 150px;
    border: 4px solid #f1c40f;
    border-radius: 50%;
    
}

.row img:hover {
    border-color: #c0392b;
    opacity: 1;
    transform: scale(1.03);
}

.main-nav li {
    display: inline-block;
    color: #1abc9c;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.main-nav li a {
    text-decoration: none;
    color: #f1c40f;
}

.main-nav li a:link,
.main-nav li a:visted {
    color: #c0392b;
    
}

.main-nav li a:hover,
.main-nav li a:active {
    color: #c0392b;
    
}

.main-nav li:first-child {
    font-family: pacifico;
}

.sub-nav li {
    display: inline-block;
    font-size: 3em;
    margin: 20px;
    
}



.sub-nav li a:link,
.sub-nav li a:visited{
    color: #1abc9c;
}


.sub-nav li a:hover,
.sub-nav li a:active {
    color: #f1c40f;
    
}

.facts li {
    list-style: none;
}




/*-----ICONS-----*/

.icon-med {
    color: #1abc9c;
}

.icon-big {
    font-size: 3em;
}


.row {
    text-align: center;
    max-width: 700px;

}

.box {
    padding: 5px;

}