* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    font-family: lato;
    padding-bottom: 40px;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
}

header {
    text-align: center;
    color: #1abc9c;
    font-family: pacifico;
    padding: 20px;
    font-size: 1.1em;
    letter-spacing: .5px;
}




footer a:link,
footer a:visited {
    color: #1abc9c;

}

h2 {
    text-align: center;
    padding: 20px;

}

#hobbies {
    font-family: 'fjalla one', sans-serif;
}


h3 {
    text-align: center;
    color: #1abc9c;
}

p {
    font-size: 1.5em;
    max-width: 680px;
    text-align: center;
    padding: 20px;

}

#about-me {
    font-family: 'fjalla one', sans-serif;
}

.about-img img {
    opacity: .9;
    width: 200px;
    display: block;
    border-radius: 50%;
    border: 2px solid #c0392b;

    
}


.about-img img:hover {
    border: 3px solid #1abc9c;
    transform: scale(1.15);
    opacity: none;
    transition: transform 0.5s, opacity 0.5s;
}



.clicker {
    margin-top: 65px;
    margin-bottom: 65px;
    color: #1abc9c;
    border: 2px solid #c0392b;
    display: block;
    border-radius: 50%;
    height: 61px;
    width: 61px;
    font-size: 280%;
    text-align: center;
    padding: 1px 5px 5px 6px;
}

.clicker a {
    color: #1abc9c;
}

.clicker a:hover {
    color: #f1c40f;
}

#about-me {
    height: 100%;
    width: 100%;
    margin-bottom: -36px;
    padding-bottom: 10px;
}

#hobbies p {
    font-size: 1.5em;
    max-width: 680px;
    text-align: center;
    padding: 40px;
}

 #hobbies li{
    display: inline-block;
    font-size: 2em;
    margin: 30px;
}

#hobbies ul {
    text-align: center;
}


footer {
    background-color: transparent;
    position: absolute;
    padding-top: 20px;
    text-align: center;
    left: 0;
    bottom: 0;
    height: 75px;
    width: 100%;
    overflow:hidden;
}

footer li {
    display: inline;
    margin: 20px;
    font-size: 2em;
    
}



footer li a:hover {
    color: #f1c40f;
}

