* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    font-family: lato;
    padding-bottom: 40px;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
}


.name h1 {
    text-align: center;
    font-family: pacifico;
    padding: 20px;
    color: #1abc9c;
}

.about p {
    text-align: center;
    font-family: 'fjalla one', sans-serif;
    line-height: 2;
    padding: 45px;
    font-size: .9em;
    width: 700px auto;
}

#hobbies h3 {
    text-align: center;
    font-family: 'fjalla one', sans-serif;
    color: #1abc9c;
    font-size: 2em;
}

#hobbies ul {
    text-align: center;
    font-family: 'fjalla one', sans-serif;
}

#hobbies li {
    margin: 10px;
    text-align: center;
    display: inline-block;
    margin: 55px;
}

.icon-big {
    font-size: 3em;
    color: #c0392b;
}

.icon-big:hover {
    color: #1abc9c;
    transform: scale(1.45);
    opacity: none;
    transition: transform 1.0s, opacity 0.9s;
    
}



















.about img {
    opacity: .9;
    width: 130px;
    display: block;
    border-radius: 50%;
    border: 2px solid #c0392b;

    
}


.about img:hover {
    border: 3px solid #1abc9c;
    transform: scale(1.15);
    opacity: none;
    transition: transform 2.0s, opacity 0.5s;
    box-shadow: 0 0 20px #f1c40f;
}

.more {
    text-align: center;
    display: block;
    font-family: 'fjalla one', sans-serif;
    font-size: 1.8em;
    color: #c0392b;
    text-transform: uppercase;
}

.clicker {
    margin-top: 15px;
    margin-bottom: 65px;
    color: #1abc9c;
    border: 2px solid #c0392b;
    display: block;
    border-radius: 50%;
    height: 61px;
    width: 61px;
    font-size: 300%;
    text-align: center;
    padding: 5px;
}

.clicker a {
    color: #1abc9c;
}

.clicker a:hover {
    color: #f1c40f;
}








/* do not touch this foot*/
footer {
    background-color: transparent;
    position: absolute;
    padding-top: 20px;
    text-align: center;
    left: 0;
    bottom: 0;
    height: 85px;
    width: 100%;
    overflow:hidden;
}
footer li {
    display: inline;
    margin: 20px;
    font-size:2em; 
}
footer a:link,
footer a:visited {
    color: #1abc9c;

}
footer li a:hover {
    color: #f1c40f;
}