* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.main-nav {
    text-align: center;
    list-style: none;
    margin-top: 15px;
}

.main-nav li {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transform: border-bottom 0.2s;
}


.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #27ae60;
}

.row {
    margin: 0;

}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.61)), url(css/img/pineapple.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-width: auto;
    margin: 0;
}

body {
font-family: lato;
background: #ecf0f1;
}
            
h1 {
padding: 12px 14px;
display: block;
color: #ecf0f1;
margin: 0;
font-weight: 400;
text-align: center;
background-color: #2ecc71;

}

section {
    padding: 20px;
}

li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

a:hover,
a:active {
    color: #3498db;
    border-bottom: 1px solid transparent;
}

h1 a {
    color: #fff;
    text-decoration: none;
}

h2 {
    color: #fff;
    padding-bottom: 30px;
    margin-left: 30px;
    margin-top: 40px;
}

.works-step {
    margin-bottom: 60px;
    margin-left: 30px;
    color: #fff;
    margin-bottom: 50px;
    
}

.works-step div {
    color: #fff;
    border: 2px solid #2ecc71;
    display: inline-block;
    border-radius: 50%;
    height: 54px;
    width: 54px;
    text-align: center;
    padding: 5px;
    margin-right: 25px;
    float: left;
    font-size: 150%;
    margin-top: -14px
}

.works-step a {
    text-decoration: none;
    color: #fff;
    
}

.works-step a:hover {
    color: #2ecc71;
    
}


.steps-box {
    margin-top: 40px;
}
    

.steps-box:first-child {
    text-align: left;
    padding-right: 3%;
    margin-top: 20px;
}

.steps-box:last-child {
    margin-top: 40px;
}


