* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.44), rgba(0, 0, 0, 0.61)), url(bg2.jpeg);
    background-size: cover;
    background-position: center;
}


form {
    margin-top: 100px;
    max-width: 400px;
    padding: 10px 10px 40px 10px;
    background: #f1c40f;
    border: 4px ridge #1abc9c;
    border-radius: 50px;
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s, border 0.3s;
    
}

input {
    font-size:20pt;
    height: 40px;
    width: 300px;
    border: 5px ridge #c0392b;
    border-radius: 10px;
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    text-align: center;
    display: block;
    background: #ecf0f1;
    transition: box-shadow 0.3s, border 0.3s;
    
}

h2:first-child {
    margin: 20px;
    color: #c0392b;
    border-style: 
}

h2 {
    text-align: center;
    margin: 20px;
    color: #1abc9c;
    font-family: 'Audiowide', cursive;
    text-shadow: 2px 2px #000;
}

.btn {
    text-align: center;
    background: white;
    font-size: 8pt;
    text-transform: uppercase;
    margin-top: 30px;
    width: 90px;
    border-radius: 40px;
    color: #c0392b;
    font-family: 'Audiowide', cursive;
}

.btn:hover {
    background: #c0392b;
    color: #fff;
    border-style: outset;
}

.btn:last-child {
    padding: 6px;
    display: block;
    text-align: center;
    border: 5px ridge #c0392b;
    border-radius: 30px;
    