*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 800px;
    font-family: 'lato', sans-serif;
}

.main-nav {
    float: right;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
    
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #3498db;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transform: border-bottom 0.2s;
}


.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #2ecc71;
}

.main-nav li a {
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    color: #3498db;
}

h1 {
    border-top: 4px solid #2ecc71;
    padding-top: 11px;
    color: #3498db;
    padding-left: 40px;
}

.sub-nav li {
    display: inline-block;
}

.sub-nav li a {
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    color: #3498db;
    
}

.sub-nav li a:link,
.sub-nav li a:visited{
    color: #3498db;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transform: border-bottom 0.2s;
}


.sub-nav li a:hover,
.sub-nav li a:active {
    border-bottom: 2px solid #2ecc71;
}

p {
    padding: 50px;
}




footer {
    margin-top: 50px;
    text-align: center;
}
