* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
body {

    font-family: 'lato', sans-serif;
}

header {
    margin: 25px;
    
}

header a {
    text-decoration: none;
}
.main-nav {
    float: right;
    margin-top: 28px;
}

.main-nav li {
    display: inline-block;
    margin-right: 25px;
    
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #3498db;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transform: border-bottom 0.2s;
}


.main-nav li a:hover,
.main-nav li a:active {
    border: 2px solid #2ecc71;
    border-radius: 10%;
    height: 54px;
    width: 54px;
}

.main-nav li a {
    text-decoration: none;
    padding: 0px 8px 0 8px;
    color: #3498db;
}

h1 {
    border-top: 4px solid #2ecc71;
    border-bottom: 4px solid #2ecc71;
    padding: 15px;
    color: #3498db;
    text-align: left;
    margin: 0;
}

.sub-nav li {
    display: inline-block;
    font-size: 2.3em;
    padding-left: 10px;
    padding-right: 10px
}

.sub-nav li a {
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    color: #3498db;
    
}

.sub-nav li a:link,
.sub-nav li a:visited{
    color: #3498db;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transform: border-bottom 0.5s;
}


.sub-nav li a:hover,
.sub-nav li a:active {
    border: 2px solid #2ecc71;
    border-radius: 10%;
    height: 54px;
    width: 54px;
}

footer {
    margin-top: 50px;
    text-align: center;
}

.top-row{
    margin: 0 auto;
    max-width: 1140px;

    
}

.row {
    max-width: 1140px;
    padding: 50px;
    
}

/*-----ICONS-----*/

.icon-big {
    font-size: 350%;
    display: block;
    color: #3498db;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 60%;
    margin-right: 10px
    
    
    
    /*secret text and icon align*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -6px;

}

.box {
    padding: 30px;
}