/* Layout */
/* ------------------------ */


header,
footer {
    text-align: center;
}

.main-nav {
    padding: 0;
    margin-top: 20px;
    font-size: 85%;
    font-family: 'lato', sans-serif;
}
        
.main-nav li {
    display: inline-block;
    border-right: 2px solid #777777;
    color: #fff;
    padding-right: 5px;
    font-weight: 800;
    padding-top: -5px;
    
}

li:last-child{
    border: none;
}

a {
    color: #66CD9B;
    padding-left: 3px;
}

body {
    background: #444444;
    padding: 40px;
    border: 4px solid #777777;
    margin: 20px;
    width: 500px;
}
        
h1 {
    color: #fff;
    font-weight: 300;
    font-style: italic;
    font-weight: 900;
}
        
h2 {
    color: white;
    font-size: 1.3em;
    padding: 5px 0 5px 0;
    font-family: 'lato', sans-serif;
}

img {
    border: 2px solid #777777;
    padding: 2px;
    width: 210px;
    height: 233px;
    float: right;
    margin-left: 20px;          
}
        
p {
    color: #ecf0f1;
    line-height: 140%;
    font-size: .9em;
    word-spacing: 1.5px;
    padding-bottom: 8px;
}

footer {
    border-top: 1px solid #777777;
    margin-top: 20px;
}

header {
    border-bottom: 1px solid #777777;
    margin-bottom: 20px;
}

.jobs {
    list-style-type: square;
    color: #fff;

}

.jobs li{
    font-family: 'lato', sans-serif;
    font-size: .8em;
}

.jobs p{
    color: #bfbfbf;   
}

h3 {
    color: #bfbfbf;
    font-family: 'lato', sans-serif;
    letter-spacing: 2px;
    font-size: .88em;
    text-transform: uppercase;
    
}

.strong {
    font-weight: 700;
    font-size: 1.1em;
}

.soft {
    color: #bfbfbf;
    font-size: .9em;
}
/* Headings */
/* ------------------------ */



/* Navigation Lists */
/* ------------------------ */



/* Links */
/* ------------------------ */



/* About Me page */
/* ------------------------ */



/* Resume page */
/* ------------------------ */



/* Resume page - Experience */
/* ------------------------ */

